layout {

    focus-ring {
        active-color   "#76a9fa"
        inactive-color "#080b12"
        urgent-color   "#ef748b"
    }

    border {
        active-color   "#76a9fa"
        inactive-color "#080b12"
        urgent-color   "#ef748b"
    }

    shadow {
        color "#03050970"
    }

    tab-indicator {
        active-color   "#76a9fa"
        inactive-color "#0049be"
        urgent-color   "#ef748b"
    }

    insert-hint {
        color "#76a9fa80"
    }
}

recent-windows {
    highlight {
        active-color "#76a9fa"
        urgent-color "#ef748b"
    }
}
